.container{
	float:none;
	margin-left: auto;
}
.alert{
	margin-left: 0px;
}
.span6 {
	float:none;
	margin: auto;
}
h2{
	text-align: center;
	margin-top: 0px;
	margin-bottom: 30px;
}
form{
	float:none;
	margin: auto auto;
	border: solid #CCC 1px;
	padding: 10px 10px 30px 10px;
	background: rgba( 255, 255, 255, .5 );
	box-shadow: 0px 0px 10px rgba( 200, 200, 200, 1.0 );
	border-radius: 5px;
	overflow: hidden;
}
.login-fields input
{
	width:80%;
}
.container
{
	margin-top:10%;
}
.btn
{
	float: right;
	margin-right: 7%;
}
#slider {
    width:600px;
    height:80px;
    
    /*IE bugfix*/
    padding:0;
    margin:0;
}

#slider li { list-style:none; }

#page {
    width:600px;
    margin:50px auto;
}
label
{
	font-size:18px
}
input[type=text], input[type=password]
{
	font-size: 14px;
	color: #555;
	background: whiteSmoke
}

h2
{

	font-family: kocoon, sans-serif;
	color: #008B00;
	text-align: center;
	font-size: 25pt;
	margin-bottom: 50px;
	margin-top: 20px;
}