.profile-icon-container
{
	margin-right:10px;
}
#user-nav
{
	border-left: 1px solid #ddd;
	padding-left:15px;
}
#main-container
{
	background:white;
	padding: 15px 0px 60px;
}
#main-navbar
{
	background: #fff;
	color: #000;
	box-shadow: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
	text-shadow: none;
	padding: 5px 0 50px;
	border: 1px solid #fff;
}
#logout-link .icon-off
{
	float:right;
}
#detail-search-dropdown-icon

{
	float:right;
	margin-right: 50px;
}
.active>a, .inactive>a
{
	border-radius: 3px;
}
.post {

	position: relative;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	background-repeat: repeat-x;	
	overflow: hidden;
}
.post_header
{
	background: #dbdbdb;
	margin:3px 0px 0px 0px ;
	padding-left: 60px;
	height:50px;
	border:#bababa 1px solid;

	-webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
}
.post_header h5
{
	margin-top: 0px;
	padding:10px;
	font-size: 16px;
}
.post_body
{
	background-color: #fafafa;
	border-left:  1px solid #e0e0e0;
	border-right:  1px solid #e0e0e0;
	border-bottom:  1px solid #e0e0e0;
	padding: 0px 10px 10px;
	overflow: hidden;
	padding: 10px 10px;
	margin-left: 1px;
	margin-right: 1px;
}
.post_date
{
	position: absolute;
	top:1px;
	bottom: 1px;
	background: #d90000;
	height: 54px;
	width:54px;
	border: #bd0000 solid 1px;
	-moz-box-shadow:    inset 0 0 10px #990000;
   -webkit-box-shadow: inset 0 0 10px #990000;
   box-shadow:         inset 0 0 10px #990000;

	/* IE10 Consumer Preview */ 
	background-image: -ms-radial-gradient(center, circle farthest-corner, #E00000 0%, #C70000 100%);

	/* Mozilla Firefox */ 
	background-image: -moz-radial-gradient(center, circle farthest-corner, #E00000 0%, #C70000 100%);

	/* Opera */ 
	background-image: -o-radial-gradient(center, circle farthest-corner, #E00000 0%, #C70000 100%);

	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(radial, center center, 0, center center, 451, color-stop(0, #E00000), color-stop(1, #C70000));

	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-radial-gradient(center, circle farthest-corner, #E00000 0%, #C70000 100%);

	/* W3C Markup, IE10 Release Preview */ 
	background-image: radial-gradient(circle farthest-corner at center, #E00000 0%, #C70000 100%);
}
.post_date .date{
	color:white;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	margin-top: 5px;
	margin-bottom: 5px;

}
.sidebar
{
	margin-right: 20px;
}

.sidenav
{
	width: 228px;
	border: 1px solid #d4d4d4;
	margin: 50px -18px 0;
	padding: 0;
	background-color: #fff;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
	-moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
	box-shadow: 0 1px 4px rgba(0,0,0,.065);
}
.sidenav > li > a
{
	margin: 0 0 -1px;
	padding: 8px 14px;
	border-bottom: 1px solid #e5e5e5;
}
.sidenav .icon-chevron-right
{
	float: right;
	margin-top: 2px;
	margin-right: -6px;
	opacity: .25;
}
.page_heading
{
	margin-bottom: 5%;	
}
.application-heading
{

	margin-left: 3%;

}
.news_date{
	float: right;
}
#course_search_form
{

}
.course_search_checkbox{
	margin-right: 10px;
}
.course_search_checkbox input[type=checkbox]{
	margin-right: 5px;
}
.accordion-toggle
{
	font-size: 16px;
}
#course_description
{
	margin-top: -25px;
	width: 60%;
	margin-bottom: 35px;
}
.main_contents{
	padding-left: 3%;
	padding-right: 3%;
}
.tooltip.in {
  opacity: 1;
  filter: alpha(opacity=1);
}
.comments
{
	color:#999999;
	margin-bottom: 30px;
	margin-left: 10%;
	margin-right: 5%;
}
.comment_header
{
	margin-bottom: 20px;
	
	}
.comments img {
	float:left;
	width: 60px;
	height: 60px;
}
.author
{
	color:#333;
	font-weight: bold;

}
.comment-text
{

}
#schedule-heading
{
	margin-top: 30px;
	margin-bottom: 20px; 
}
td.register-column, th.register-column
{
	text-align: center;
}
.comment-date
{
	float:right;
	margin-right: 30px;
}
.comments-toggle, .comments-toggle:hover 
{
	color:#333;
	font-weight: bold;
	font-size: 14px;

}
.hidden-schedule-table
{
	display: none;
}
.schedule_table
{
	margin: 0px;
}
.banner
{
	width:100%;
	margin:0px auto 50px auto;

}
.footer{
	margin-bottom: 20px;
}
#slider {
			width:100%;
			height:500px;

			/*IE bugfix*/
			padding:0;
			margin:0;
		}

		#slider li { list-style:none; }

		#page {
			width:100%;
			margin:0px auto 50px auto;
		}
.navbar
		{
			margin-bottom: 0px;
		}

.semester_detail
{
	border: 1px solid #ddd;
	overflow: hidden;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-color: #fff;
	position: relative;
	margin-bottom: 20px;
	padding-top:40px;
}
.semester_title
{
	position: absolute;
	top: -1px;
	left: -1px;
	padding: 3px 7px;
	font-size: 12px;
	font-weight: bold;
	background-color: #f5f5f5;
	border: 1px solid #ddd;
	color: #9da0a4;
	-webkit-border-radius: 4px 0 4px 0;
	-moz-border-radius: 4px 0 4px 0;
	border-radius: 4px 0 4px 0;
}
.home_sidebar
{
	margin-top: 60px;
}

.table tr .messaging_body
{
	display: none;
}
.academic_pages
{
	overflow: hidden;
}
.academic_pages #description
{
	width:800px;
}
.academic_nav_stages
{
}
.academic_pages a.back
{
	margin-top: 20px;
	float:left;
}
.academic_pages a.next
{
	margin-top: 20px;
	float:right;
}
#academic-path-warning
{
	display:none;
}

.academic_pages .required_courses
{
	border: 1px solid #ddd;
	overflow: hidden;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-color: #fff;
	position: relative;
	margin-bottom: 20px;
	padding-top:40px;
	display: none;
	padding-left:10px;

}
.academic_pages .required_courses label
{
	display: inline;
	float:left;
	margin-right: 20px;
	clear:both;
}
.academic_pages .required_courses input
{
	float:left;
}
.academic_pages .required_course_title
{
	position: absolute;
	top: -1px;
	left: -1px;
	padding: 3px 7px;
	font-size: 12px;
	font-weight: bold;
	background-color: #f5f5f5;
	border: 1px solid #ddd;
	color: #9da0a4;
	-webkit-border-radius: 4px 0 4px 0;
	-moz-border-radius: 4px 0 4px 0;
	border-radius: 4px 0 4px 0;
	font-weight: bold;
	font-size: 14px;

}
#title_font{
	font-family:Rage Italic;
	color:#23750d;
}

.message {
	cursor: pointer;
}

.message.current, .message.current:hover {
	background: #ddd;
}
.message-body{
	text-indent: 20px;
	margin-top: 5px;
}
textarea{
	width: 100%;
}